<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>career path</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="error-message"></div>
    <div class="success-message"></div>
    <div class="container">
        <h1>Let's build your career path</h1>
        <div class="student-info">
            <div class="school-info">
                <h1>enter your study info</h1>
                <label for="secondary-gpa">secondary school gpa</label>
                <input type="number" id="secondary-gpa" name="secondary-gpa" step="0.01" min="0" max="5" placeholder="max 5">
                <label for="H_gpa">High school gpa</label>
                <input type="number" id="H_gpa" name="H_gpa" step="0.01" min="0" max="5" placeholder="max 5">
                <label for="semester">your current Semester</label>
                <input type="number" id="semester" name="semester" min="1" max="10" placeholder="max 10">
                <label for="last_gpa">your last semester</label>
                <input type="number" id="last_gpa" name="last_gpa" step="0.01" min="0" max="5" placeholder="max 5">
                <label for="overall">overall gpa</label>
                <input type="number" id="overall" name="overall" step="0.01" min="0" max="5" placeholder="max 5">
            </div>
            <div class="skills">
                <h1>enter your skills and your social info </h1>
                <label for="english">enter your english level</label>
                <input type="number" id="english" name="english" min="0" max="5" placeholder="max 5">
                <label for="skills">enter your skills (please give the right skills name)</label>
                <input type="text" id="skills" name="skills">
                <label for="Extra">do you participate in some education club</label>
                <select id="Extra" name="Extra">
                    <option value="1">yes</option>
                    <option value="0">no</option>
                </select>
                <label for="live">enter where you live </label>
                <select id="live">
                    <option value="0">city</option>
                    <option value="1">Village</option>
                </select>
                <label for="computer">how much you are comfortable with computer</label>
                <input type="number" id="computer" name="computer" min="0" max="5" placeholder="max 5">
                <label for="preparation">how much you prepare for your exam or interview in the day</label>
                <input type="number" id="preparation" name="preparation" min="0" max="10" placeholder="max 10">
                <label for="game">how much you play games in the day</label>
                <input type="number" id="game" name="game" min="0" max="5" placeholder="max 5">
            </div>
            <button id="submit-btn">Submit</button>
            <div class="result">
                
            </div>
            <div class="cources"></div>
            
        </div>
    </div>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>